<div class="container">
    <div class="row">
        <table align="center">
            <tr>
                <td align="center">
                    <img class="img-responsive" src="~/images/notfound.png" />
                </td>
            </tr>
        </table>
    </div>
    <div class="row height600">
        <h3 class="alert alert-danger text-center">@localizer["Page not found"]</h3>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">@localizer["Home"]</a>
    </div>
</div>