@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p style="font-family:'Diwani Letter';font-size:18px">نموذج خط </p>
<p style="font-family:'Farsi Simple';font-size:18px">نموذج خط </p>
<p style="font-family:'Arabic Typesetting';font-size:18px">نموذج خط </p>
<p style="font-family:Arial;font-size:18px">نموذج خط </p>
<p style="font-family:'PT Heading', Times, serif;font-size:18px">نموذج خط </p>
<p style="font-family:Verdana;font-size:18px">نموذج خط </p>
<p style="font-family:'Diwani Letter';font-size:18px">نموذج خط </p>
<p style="font-family:'Led Font';font-size:18px">نموذج خط </p>

<p></p>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>
<span style="font-family:'Diwani Letter';font-size:18px">نموذج خط </span>



@ViewData["Message"]
@*صيغة المحكم*@
<h2>سعادة الدكتور/  $UsersName$  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;        سلمه الله</h2>
<h3 style="text-align:center">السلام عليكم ورحمة الله وبركاته ،،، وبعد:</h3>
<h4>يسر مجلة مجمع الملك عبد العزيز للمكتبات الوقفية، أن تهديكم أطيب التحيات، وأن تبلغكم باختيار سعادتكم لتحكيم المقدم للنشر في المجلة بعنوان: ($ResearchName$).</h4>
<h4>نأمل من سعادتكم التكرم بتقييم العمل، وتعبئة النموذج المخصص للتقييم، على أن يصل الرد في مدة أقصاها شهر من تاريخه.</h4>
<h3 style="text-align:center">وتقبلوا فائق التحية والتقدير ..،،</h3>


@*صيغة استلام بحث*@
<h2>سعادة الدكتور/  $UsersName$  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;        سلمه الله</h2>

<h3 style="text-align:center">السلام عليكم ورحمة الله وبركاته ،،، وبعد:</h3>
<h4>يسر مجلة مجمع الملك عبد العزيز للمكتبات الوقفية، أن تهديكم أطيب التحيات، وأن تبلغكم باختيار سعادتكم لتحكيم المقدم للنشر في المجلة بعنواننشكركم على تواصلكم مع مجلة مجمع الملك عبد العزيز للمكتبات الوقفية، ويسرنا إبلاغكم أن بحثكم الموسوم بـ ($ResearchName$)  تم استلامه،ويسعرض على هيئة تحرير المجلة في أقرب، تمهيدا لإحالته للمحكمين للنظر في صلاحيته للنشر بالمجلة.</h4>
<h3 style="text-align:center">وتقبلوا فائق التحية والتقدير ..،،</h3>
