@{
    ViewData["Title"] = localizer["Financial Affairs Administration"];
}

@using System.Globalization

<div class="container">
    <div class="main-image-inside">
        <img src="~/EventImages/journal_logo_no_bg.png" style="max-width:100%" />
    </div>
    <h1 class="font-kawla main-widget">
        <span class="glyphicon glyphicon-folder-open font-40B "></span> @localizer["Financial Affairs Administration"]
    </h1>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" id="bodyData">
                @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
                {
                    <div>
                        <ul class="font-18">
                            <li>
                                <h4>
                                    المساهمة علي زيادة الموارد المالية للمركز مما يساعد على انجاز المهام المطلوبة منه.
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    مساعدة الادارات الأخرى بالمركز للنهوض بمستوى الأداء.
                                </h4>
                            </li>
                           
                           
                        </ul>

                    </div>
                }
                else
                {
            <div>
                <ul class="font-18">
                    <li>
                        <h4>
                            المساهمة علي زيادة الموارد المالية للمركز مما يساعد على انجاز المهام المطلوبة منه.
                        </h4>
                    </li>
                    <li>
                        <h4>
                            مساعدة الادارات الأخرى بالمركز للنهوض بمستوى الأداء.
                        </h4>
                    </li>


                </ul>

            </div>

                }
            </li>
        </ul>
    </div>
</div>
