@{
    ViewData["Title"] = localizer["Performance Appraisal Administration"];
}

@using System.Globalization

<div class="container">
    <div class="main-image-inside">
        <img src="~/EventImages/journal_logo_no_bg.png" style="max-width:100%" />
    </div>
    <h1 class="font-kawla main-widget">
        <span class="glyphicon glyphicon-folder-open font-40B "></span> @localizer["Performance Appraisal Administration"]
    </h1>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" id="bodyData">
                @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
                {
                    <div>
                        <ul class="font-18">
                            <li>
                                <h4>
                                    تطوير وتحسين الاداء المعرفي و المهارى للطلاب واعضاء هيئة التدريس والهيئة المعاونة والجهاز الإداري داخل الجامعة وخارجها.
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    انشاء معايير للأداء الجيد لدى كل فئة من فئات العاملين بالهيئات العامة والخاصة.
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    اعداد استمارات واستبيانات الكترونية لوصف واقع الأداء الراهن لتطويره.
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    استخدام التقييم الالكتروني وتصميم صفحة الكترونية لكل موظف.
                                </h4>
                            </li>
                        </ul>

                    </div>
                }
                else
                {
            <div>
                <ul class="font-18">
                    <li>
                        <h4>
                            تطوير وتحسين الاداء المعرفي و المهارى للطلاب واعضاء هيئة التدريس والهيئة المعاونة والجهاز الإداري داخل الجامعة وخارجها.
                        </h4>
                    </li>
                    <li>
                        <h4>
                            انشاء معايير للأداء الجيد لدى كل فئة من فئات العاملين بالهيئات العامة والخاصة.
                        </h4>
                    </li>
                    <li>
                        <h4>
                            اعداد استمارات واستبيانات الكترونية لوصف واقع الأداء الراهن لتطويره.
                        </h4>
                    </li>
                    <li>
                        <h4>
                            استخدام التقييم الالكتروني وتصميم صفحة الكترونية لكل موظف.
                        </h4>
                    </li>
                </ul>

            </div>

                }
            </li>
        </ul>
    </div>
</div>
