
@{
    ViewData["Title"] = localizer["Confirm Email"];
}

    <h1>@localizer["Confirm Email"]</h1>

<div>
    <h3 class="alert alert-success text-center">
     @localizer["Account Activated"]

    </h3>
    <div>
        <a asp-action="Login" class="btn btn-primary">@localizer["Login"]</a>
    </div>
</div>
