@model ForgotPasswordAdminVM

@{
    ViewData["Title"] = localizer["Reset Password"];
}

<h2>@localizer["Reset Password"]</h2>

<hr />

@if(@ViewBag.token != null)
{
    <a href="@ViewBag.Message" class="btn btn-danger" target="_blank">@localizer["Reset Password"]</a>
}


    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPasswordAdmin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@localizer["Send"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
