
@{
    ViewData["Title"] = localizer["Password Changed"];
}

<h2 class="alert alert-success text-center">@localizer["Password Changed"]</h2>

<div>
    <a asp-action="Login" class="btn btn-primary">@localizer["Login"]</a>
</div>